body{
    background-color:#ffffff;
}
#glogo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #ffffff;
}

li{
    float:left;
    font-size:12px;
    font-family: arial;
    color:black;
}

li a{
    display:block;
    color:black;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

button{
    height:31px;
    background-color: #4485f4;
    border-color: #4485f4;
    color:white;
    font:arial;
    border: 0 solid white;
    border-radius:2px;
    width:120px;
    
}

#sb{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:500px;
    height:40px;
    border-radius:25px;
    border:1px solid #ebecef;
    
}

#tsf{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:25px;
    border:0px;
}

#serc{
        border-radius: 3px;
        border:0px;
        display:block;
        margin: 0 auto;
        display:flex;
        justify-content:center;
        align-items:center;
        padding-top:25px;

}

#googs{
    background-color:#f1f1f1;
    border-color: #f1f1f1;
    border-radius: 3px;
    border:0px;
    color: #5f6368;
}

#ifl{
    background-color:#f1f1f1;
    border-color: #f1f1f1;
    border-radius: 3px;
    border:0px;
    color:#5f6368;
    
}